*{
    margin: 0;
    text-align: center;
    margin: 15px;
}
.fbquote{
    font-family:Arial;
    font-weight: normal;
    margin: 0;
}
.login-container{
    width: 385px;
    margin: 30px auto;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.1);
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}
input{
    display: block;
    width: 85%;
    text-align: left;
    outline: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    margin-top: 10px;
}
.btn-login{
    width: 93.5%;
    display: block;
    margin-top: 15px;
    padding: 15px 0;
    font-size: 24px;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color:#1877f2;   
}
.forgot{
    margin: 15px 0;
    display: block;
    font-family: arial;
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
}
.forgot:hover{
    text-decoration: underline;
}
hr{
    margin: 25px 0;
    opacity: 0.3;
}
.btn-Create{
    display: block;
    margin: 15px auto;
    padding: 15px;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color:#42B72A;
    
}
.below-text{
    font-family: Arial; 
    font-size: 14px;
}
.create-page{
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.create-page:hover{
    text-decoration: underline;
}

